<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Radio Panik</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/reset.css" type="text/css" />
    <link rel="stylesheet" href="css/type.css" type="text/css" />

    <link rel="stylesheet/less" href="css/style.less" type="text/css" />
    <script src="js/less-1.4.1.js" type="text/javascript"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body">
<div class="wrapper">
    {{ content }}
</div>


</body>

</html>

