<div class="header-detailsArchives">
    <div class="header-dateArchives cf">
        <div class="day">
            ME
        </div>
        <div class="day-number">
            04
        </div>
        <div class="year">
            2013
        </div>
    </div>
    <div class="header-outlineArchives">
        <h5>les matins tranquilles</h5>
        <p><a href="emission.html">Comédie sur un quai de gare et Apéros verts</a><p>
    </div>
    <div class="header-controlsArchives">
        <div class="symbols">A</div>
        <div class="symbols">B</div>
    </div>
</div>
