<div class="header-details cf">
    <div class="header-date">
        <div class="day">
            ME
        </div>
        <div class="day-number">
            04
        </div>
        <div class="time">
            07:00
        </div>
    </div>
    <div class="header-outline">
        <h3>Comédie sur un quai de gare et Apéros verts</h3>
        <dl class="credits cf">
            <dt>Serie</dt>
            <dd>La musique</dd>
            <dt>Auteur</dt>
            <dd>Jean Dupont</dd>
            <dt>Rediffusion</dt>
            <dd>Émission de JetFM</dd>
        </dl>
        <ul class="tags">
            <li>1955</li>
            <li>RCA</li>
            <li>Synthetiseur</li>
            <li>Electronique</li>
            <li>Harry Olson</li>
            <li>1955</li>
            <li>RCA</li>
            <li>Synthetiseur</li>
        </ul>
    </div>
    <div class="header-image">
        <img src="http://placehold.it/100X100" />
    </div>
    <div class="header-controls">
        <div class=symbols>AB</div>
        <div class=symbols>I</div>
        <div class=symbols>C</div>
    </div>
</div>
