<div class="item sound">
    <h4>The sound of silence</h4>
    
    <p>Dero volorrovitat as aut enimporera veribus, nimpe lacereh endelent et rae reribus maximin ex el mo de inullanim volorest odi aut quos eatem repre saperspis sequo Dero volorrovitat as aut enimporera veribus, nimpe lace Dero volorrovitat as aut enimporera veribus, nimpe lace</p>
    
    <dl class="metadata cf">
        <dt>Genre</dt>
        <dd>Rock</dd>
        <dt>Auteur</dt>
        <dd>Simon &amp; Garfunkel</dd>
        <dt>Album</dt>
        <dd>The Sound of Silence</dd>
        <dt>Date</dt>
        <dd>00/00/0000
        <dt>Licence</dt>
        <dd>Copyright Format</dd>
        <dd>ogg</dd>
        <dt>Duree</dt>
        <dd>3'32'</dd>
        <dt>Resolution</dt>
        <dd>320kbps</dd>
    </dl>
</div>
